body {
  /*padding-left: 50px;
  padding-top: 50px;*/
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: 'Univers LT Std', Helvetica, Arial, monospace;
  font-weight: normal;
  font-style: normal;
  font-size: 14pt;
  border-color: yellow;
  border-width: 0px;
  border-style: solid;
  margin: 0;
  padding: 0;
text-wrap: wrap;
/*justify-content: center;*/
/*justify-content: space-evenly;*/
}

hr {
color: var(--fg-color);
height: 5px;
background: var(--fg-color);
border: none;
}

div.article {
  font-size: 14pt;
  line-height: 133%;
  border-right-width: 0em;
  border-left-width: 0em;
  border-top-width: 0px;
  border-bottom-width: 0em;
  
  border-color: var(--fg-color);
  border-style: solid;
  padding-left: 0em;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-wrap: wrap;
  justify-content: justify;
  text-align: justify;
  hyphens: auto;
  max-width: 600px;
  width: auto;
  margin: auto;
  margin-top: 1rem;
  display: block;
}



article {
	line-height: auto;
}

.ProtoSans56 {
font-family: ProtoSans56;
}

.ProtoSans35 {
font-family: ProtoSans35;
}

li.article {
    text-align: start;
}

img.logo {
  padding-bottom: 0px;
  display: inline-block;
  position: relative;
  max-width: auto;
}

.article img, video{
max-width: 100%;
height: auto;
display: block;
margin: auto;
margin-top: 1em;
margin-bottom: 1em;
}

.logo {
  font-family: ProtoSans56;
  font-style: normal;
  font-size: 26pt;
  color: var(--fg-color);
}

header a:link, a:visited {
  text-decoration: none;
}

.frame {
  border-width: 5px;
  border-color: var(--fg-color);
  border-style: solid;
}

.frame img {
margin: auto;
margin-top: 1em;
}

article h1 {
  font-size: 150%;
}

article h2 {
	font-size: 125%;
}

button {
  background-color: var(--bg-color);
  font-family: 'Courier New';
}

section {
  flex-direction: inline;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

P {
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

P.caption {
display: grid;
font-family: 'Univers LT std', Courier, monospace;
font-size: 10pt;
font-weight: 300;
font-style: italic;
margin-top: 0em;
padding-top: 0em;
}

div.caption_column {
font-size: 9pt;
line-height: 145%;
font-weight: normal;
background-color: var(--fg-color);
color: var(--bg-color);

margin-top: 1em;
margin-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
padding-top: 0.5em;
padding-bottom: 0.5em;

column-count: 2;
column-gap: 2em;
column-rule-style: solid;
column-rule-width: 5px;
column-rule-color: var(--bg-color);
}

.font_spread {
list-style: none; 
display: grid; 
width: auto;
max-width: auto;
grid-auto-flow: row;
}

.font_spread ul{
list-style: inherit; 
display: grid;
grid-auto-flow: column;
padding-bottom: 2cm;
padding-right: 2cm;
}

.font_spread ul li{
width: auto;
max-width: auto;
text-align: justify;
hyphens: auto;
margin-left: 2cm;
margin-top: 2cm;
}

.font_spread ul li p{
margin-bottom: 1cm;
}

.font_spread ul li:first-child{
width: auto;
max-width: auto;
}

.font_spread2 {
display: inline;
}

.large_spread{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-evenly;
gap: 2em;
margin-top: auto;
}

.large_spread div{
width: 66%;
margin: auto;
margin-top: 2rem;
}


.wide_page {
font-size: 12pt;
margin-top: 1cm;
margin-left: 2cm;
margin-right: 2cm;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
gap: 2em;
}



.wide_page div {
width: 10cm;
padding: 0px;
margin: 0px;
}

.wide_page P {
width: 10cm;
padding: 0px;
margin: 0px;
}

table {
  color: var(--fg-color);
  background-color: var(--bg-color);
  border-color: var(--fg-color);
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}

th,
td {
  border: 1px dashed var(--fg-color);
  border-color: var(--fg-color);
  padding: 8px 10px;
}

ul.menu {
  list-style: none;
  display: inline flex;
  justify-content: space-around;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

ul.pad {
  list-style: none;
  padding: 0px 0px 0px 0px;
  display: inline-flex;
}

ul.list {
  list-style: none;
  display: grid;
}

li.sidelist {
  display: inline-block;
}

li.left_pad {
  display: list-item;
}

li.menu {
  display: inline;
  font-size: 0px;
  margin: 0px;
  padding: 0px;
}

li.menu:first-child {
  padding-left: 0em;
  padding-bottom: 0em;
  margin-bottom:  0em;
}

header button {
  font-family: ProtoSans35;
  font-size: 11pt;
  /*display: table-row;*/
  height: 1.75em;
  
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  
  margin-left: 0em;
  margin-right: 0em;

  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0.0em;

  border-top-right-radius: 0em;
  border-bottom-left-radius: 0em;

  border-style: solid;
  background-color: var(--bg-color);
  border-color: var(--fg-color);
  color: var(--fg-color);
}

header button2 {
  font-family: ProtoSans35;
  font-size: 11pt;
  /*display: table-row;*/
  height: 1.75em;
  
  width: auto;

  /*padding-top: 5px;*/
  padding-bottom: 0em;
  /*padding-left: 50px;*/
  padding-left: 8px;
  padding-right: 8px;

  margin-left: 10px;
  margin-right: 10px;
  /*margin-bottom: 0.4em;*/

  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0.0em;

  border-top-right-radius: 0em;
  border-bottom-left-radius: 0em;

  border-style: solid;
  background-color: var(--bg-color);
  border-color: var(--fg-color);
  color: var(--fg-color);
}

header button:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
  text-decoration: underline;
  cursor: pointer;
}


.top_pad {
  padding-top: 0px;  
  border-bottom: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-color: var(--fg-color);
  border-style: solid;
width: 600px;
height: auto;
display: grid;
margin: auto;
}

div.menu div{
display: inline;
}

div.menu{
display: inline-flex;
justify-content: space-between;
align-content: start;
align-items: end;
flex-wrap: wrap;
}

header p{
font-family: 'Univers LT Std', Courier, monospace;
font-size: 11pt;
font-weight: 300;
font-style: italic;
text-align: center;

margin-bottom: 1em;
margin-top: 0em;
}

header {
margin-top: 1.5em;
/*text-align: center;*/
}

div.left_pad {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  /*padding-bottom: 10%;*/
  padding-right: 0.5em;
  padding-left: 0em;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 4px;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-color: var(--fg-color);
  border-style: solid;  
  margin-right: 2em;
  /*padding-bottom: 100px;*/
}

footer {
font-family: "New Alphabet", Courier;
font-size: 9pt;
margin-top: 3em;
margin-bottom: 3em;
text-align: center;
}


.toggle-switch::before {
  content: "";
  position: absolute;
  display: none;
  margin: auto;
  width: 26px;
  height: 26px;
  border-radius: 10%;
  color: var(--bg-color);
  background-color: var(--fg-color);
  top: 4px;
  left: 4px;
  transition: transform 0.005s;
}


/* When the checkbox is checked, update CSS variables */
#theme-toggle:checked ~ .toggle-switch {
  /* New background color for the toggle */

--fg-color: black;
--bg-color: white;
}

#theme-toggle:checked ~ .toggle-switch::before {


display: none;
--fg-color: black;
--bg-color: white;
}

/* Apply CSS variables to other elements */
body {
background-color: var(--bg-color);
color: var(--fg-color);
}

#theme-toggle:checked ~ .toggle-switch + * { /* Target sibling elements after the toggle */
--fg-color: black;
--bg-color: white;
}


:root {
--fg-color: yellow;
--bg-color: black;
}

:root:has(#theme-toggle:checked) {
--fg-color: black;
--bg-color: white;
}